/*-- scss:defaults --*/
$primary: #005050;
$font-family-sans-serif: Work Sans,Helvetica,Arial,Oswald,sans-serif;
$body-color: #454545;
$link-color: #c440c3;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
    font-weigth: 600;
}
